@import './configur';

@font-face {
    font-family: robotolight;
    src: url('/fonts/roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: robotobold;
    src: url('/fonts/roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: robotoregular;
    src: url('/fonts/roboto/Roboto-Regular.ttf');
}

.surfacetop{
    width: 100%;
    height: 90px;
    @include flexCenter(column);
    background-color: $primary-color;

    &__box{
        width: 85.7%;
        height: 90px;
        background-color: transparent;
        // margin-left: 20px;
        @include flexMatch(column);

        .gifone{
            width: 100%;
            height: 65%;
            background-color: transparent;
            cursor: pointer;
        }

        .sell__content{
            width: 100%;
            height: 40%;
            background-color: transparent;
            // gap: 20px;
            @include flexMatch(row);

            .sellinjumia{
                width: 40%;
                height: 100%;
                background-color: transparent;
                @include flexMatch(row);
                align-items: center;

                

                .sellbox{
                    width: 26%;
                    height: 1rem;
                    cursor: pointer;
                    // background-color: transparent;

                    .iconify{
                        color: $secondary-color;
                    }

                    .onsell{
                        text-decoration: none;
                        color: $secondary-color;
                        font-family: robotoregular;

                        &.active{
                            text-decoration: underline;
                        }
                    }

                }

                
            }

            .ydoing{
                width: 60%;
                height: 100%;
                background-color: green;
                @include flexMatch(row);
                align-items: center;
            }
        }
    }
}